---
interface Props {
  title: string;
  description: string;
  canonical: URL;
}

const { title, description, canonical } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonical.toString()} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonical.toString()} />
